.review {
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
}

.content-details {
  font-family: Futura Lt BT;
  color: #ffffff;
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

#preloder {
  background: #ffffff url(preloader.gif) no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1999;
}
#bg-image-container {
  position: relative;

  height: 90vh;

  background-image: url(/03-.JPG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(1.2);
  transition: transform 0.5s;
  transition-timing-function: ease-in-out;
  z-index: -1;
}
/* /////////////////////////////// */

/* .nav-link-change {
  color: black;
  padding-right: 1rem;
  letter-spacing: 2px;
} */

.navbar-nav .imgs-change {
  width: 510px;
  height: auto;
  z-index: 1;
  box-shadow: 5px 5px 5px 5px #888888;
}

ul li {
  list-style: none;
  font-family: "Futura Lt BT";
}
ul li a {
  position: relative;
  display: block;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #ffffff !important;
  font-family: "Futura Lt BT";
  font-size: 12px;
  font-weight: 600;
  transition: 0.5s;
  z-index: 1;
}
/* ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #e0e95e;
  transform: scaleY(2.5);
  opacity: 0;
  transition: 0.4s;
}
ul li a:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
  transform: scale(0);
  opacity: 0;
  transition: 0.3s;
  z-index: -1;
}
ul li a:hover {
  color: rgb(173, 133, 246) !important;
  font-size: 14px;
  transition: 0.3s ease-in;
}
ul li a:hover:before {
  transform: scaleY(1);
  opacity: 1;
} */

/*  /////////////////////////////////*/

.imgchange {
  width: 510px;
  height: auto;
  z-index: 1;
  box-shadow: 5px 5px 5px 5px #888888;
}
.col-md-4 {
  z-index: 2;
}
.card {
  border: none !important;
}
.order-col {
  margin-top: -40px;
  margin-bottom: -20px;
}

@media (max-width: 768px) {
  .navbar-brand > .brand-img {
    max-width: 100px;
  }
  .navbar-collapse {
    background-color: #4f4e4e !important;
  }

  .imgchange {
    width: 350px;
  }
  .navbar-collapse {
    background-color: white;
    text-align: center;
  }

  /* ---------------- */
  .carousel-item {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  }

  .carousel-item p {
    text-align: center;
    font-size: 16px;
  }

  .testimonial-author {
    margin-top: 10px;
    font-size: 14px;
    font-style: italic;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 36px;
    line-height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: inline-block;
  }

  .carousel-control-prev {
    left: 0;
  }

  .carousel-control-next {
    right: 0;
  }

  /*-------------------  */
  .order-col {
    order: -1 !important;
  }
  .card-title {
    font-size: 30px;
    letter-spacing: 0.02em;
    line-height: 35px;
    padding-left: 0rem;
    text-align: center;
  }
  .card-text {
    font-size: 18px;
    line-height: 30px;
    padding-left: 1rem;
    text-align: justify;
  }
  .card-body {
    padding-left: 0rem;
  }
  .head1 {
    font-size: 35px;
  }
  .album-title {
    font-size: 50px;
  }
}
@media (min-width: 768px) {
  .navbar-brand > .brand-img {
    max-width: 200px;
  }
  .order-col {
    order: 1 !important;
  }
  .card-title {
    font-family: "Futura MdCn BT";
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0.08em;
    padding-left: 3rem;
    color: #000000;
  }
  .card-text {
    font-family: "Futura Lt BT";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: #000000;
    padding-left: 3rem;
  }
  .card-body {
    padding-left: 3rem !important;
  }
  .head1 {
    font-size: 50px;
  }
  .album-title {
    font-size: 100px;
  }
}

/* / */

.testimonials-clean {
  color: #2e2e2e;
  background-color: #ffffff;
}

.testimonials-clean p {
  color: #4f4e4e;
}

.testimonials-clean h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width: 767px) {
  .testimonials-clean h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.testimonials-clean .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
  font-family: "Futura MdCn BT";
}

.testimonials-clean .intro p {
  margin-bottom: 0;
}

.testimonials-clean .people {
  padding: 50px 0 20px;
  font-family: "Futura Lt BT";
}

.testimonials-clean .item {
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .testimonials-clean .item {
    height: 220px;
    margin-top: 50px;
  }
}

.testimonials-clean .item .box {
  padding: 30px;
  background-color: rgb(235, 255, 226);
  position: relative;
}

.testimonials-clean .item .box:after {
  content: "";
  position: absolute;
  left: 30px;
  bottom: -24px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-width: 12px 15px;
  border-top-color: #fff;
}

.testimonials-clean .item .author {
  margin-top: 28px;
  padding-left: 25px;
}

.testimonials-clean .item .name {
  font-weight: bold;
  margin-bottom: 2px;
  color: inherit;
  text-decoration: underline;
  text-align: center;
}

.testimonials-clean .item .title {
  font-size: 13px;
  color: #9da9ae;
  text-align: center;
}

.testimonials-clean .item .description {
  font-size: 15px;
  margin-bottom: 0;
}

.testimonials-clean .item img {
  max-width: 40px;
  float: left;
  margin-right: 12px;
  margin-top: -5px;
}

.footer-content-1 {
  border-width: 1px 0.5px 0.2px 0px;
  border-style: solid;
  border-color: rgba(214, 214, 214, 0.68);
  border-radius: 0px 0px;
  font-family: "Futura Lt BT";
}

.footer-content-2 {
  background: #fff3f3;
  border-width: 1px 0.5px 0.2px 0px;
  border-style: solid;
  border-color: rgba(214, 214, 214, 0.68);
  border-radius: 0px 0px;
  font-family: "Futura Lt BT";
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
/* ///////////////////////////////////////////////////////////////////////// */

/* /////////////////////////////////////////////////////////////////////// */

.navbar {
  background: rgba(255, 255, 255, 0) !important;
}

.navbar.scrolled {
  background: red !important;
}

/* // */

.head1 {
  font-family: "Futura MdCn BT";
  letter-spacing: 2px;
}
.head2 {
  font-family: "Futura Lt BT";
}
.tran {
  transition: 500s ease-in-out;
}

.contact-img {
  display: flex;
  justify-content: center;
}

.album-title {
  font-family: "Allura", cursive;
}

.album-cover {
  transition: transform 0.8s;
}
.album-cover:hover {
  transform: scale(1.1);
}
